[build]
  command = "npm run build"
  publish = "dist"

[functions]
  external_node_modules = ["web-push"]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200